.card-body{
          padding: 9px;
}
.card-text{
          margin-bottom: 5px;

}
.card-body p{
          margin-bottom: 0;
}
.card-footer{
          padding: 9px;
}
.card-footer p{
          margin-bottom: 0;
}



