



.nav-tabs {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.nav-items {
  flex: 1;

}

.nav-link {
  padding: 10px;
  cursor: pointer;
  
}

.active { 
  
 
  color: #fff;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Add responsive styles for smaller screens if needed */

@media (max-width: 768px) {
 .container{
  padding: 0;
 }
 .status-bar h6{
  font-size: 15px;
 }
}
.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #eee;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #f55951; /* Change color as needed */
  transition: width 0.3s ease-in-out;
}


/* ////////////////////////////////////////////// 
 */

/* Custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Form styles */
#msform {
  width: 80%; /* Adjusted for responsiveness */
  margin: 50px auto;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%; /* Adjusted for responsiveness */
  margin: 0; /* Adjusted for responsiveness */
  position: relative;
}

/* Hide all except the first fieldset */
#msform fieldset:not(:first-of-type) {
  display: none;
}

/* Inputs */
#msform input,
#msform textarea {
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px; 
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  font-size: 14px;
}

/* Buttons */
#msform .action-button {
  width: 100%; /* Adjusted for responsiveness */
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0; /* Adjusted for responsiveness */
  text-decoration: none;
  font-size: 16px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/* Headings */
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Progressbar */
#progressbar {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  /* CSS counters to number the steps */
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 14px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/* Progressbar connectors */
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

/* Marking active/completed steps green */
/* The number of the step and the connector before it = green */
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27AE60;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  #msform {
    width: 90%;
    margin: 10px 10px;
  }

  #msform h2{
    font-size: 20px;
    padding: 0;
  }
  #msform input,
#msform textarea{
  margin-bottom: 0px;
  padding: 3px;
}

.summary h4{
  font-size: 18px;
  font-weight: 600;
  
}

}
.summary h1{
  margin-top: 10px;

  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}