.form__radio-input {
          display: none;
        }
        
        .form__label-radio {
          font-size: 1.2rem;
          cursor: pointer;
          position: relative;
          padding-left: 3rem;
        }
        
        .form__radio-button {
          height: 2rem;
          width: 2rem;
          border: 3px solid #55c57a;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0rem;
        }
        .form__radio-button::after {
          content: "";
          display: block;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #55c57a;
          opacity: 0;
          transition: opacity 0.2s;
        }
        
        .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
          opacity: 1;
        }
        