.card-bodyy{
         width: 500px;
          
}
.card-bodyy input {
  margin-bottom: 5px;
  padding: 5px;
}



@media (max-width: 600px) {
  .card-bodyy {
    width: 100%;
    padding: 5px;
  }
  .card-bodyy input {
    padding: 2px;
  }
  
 
}


  .table-responsive {
    height: 600px;
    overflow: auto;
  }
  .table-responsive th, .table-responsive td {
    font-size: 13px;
  }

